body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#win {
    text-align: center;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    border: 3px blue;
    width: 30%;
    height: 40%;
    border: 4px black;
    
}

#btn{
    padding: 5px;
    width: 1200px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: black;
    font-family:'Press Start 2P', cursive ;
    margin: 0px 300px 0px 400px;
}